<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css" />
            <link rel="stylesheet" href="{{ base_url() }}/assets/css/upload.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
