<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css" />

    <!-- Latest compiled and minified JavaScript -->

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ base_url() }}/assets/cor_lleno.png" type="image/png" />
    {% endblock %}




</head>

<body>


<div class=""> <!-- navegador -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PWPOP</a>
            </div>

            <ul class="nav navbar-nav" id="horizontal">
                <li ><a class="navbar-brand" href="/home">Home</a></li>
                <li ><a class="navbar-brand" href="/upload">Page 1</a></li>
                <li ><a class="navbar-brand"  href="#">Page 2</a></li>
                <li ><a class="navbar-brand" href="/favourites">Favourite Products</a></li>
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        <img width="10px" height="10px" src="{{ base_url() }}/assets/lupa.png">
                    </button></li>

            </ul>

        </div>
    </nav>
    {% block content %} {% endblock %}
</div>

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src = "{{ base_url() }}/base.js"> </script>
{% endblock %}


</body>
<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  onsubmit=" return validarModal()" action= "search" method="POST" accept-charset="utf-8">

                    <label for="staticEmail"  class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" id = "group_modal" name = "title" class="form-form-control form-control-lg" id="title" placeholder="">

                    </div>
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select id = "group_modal" class="form-control" id="exampleFormControlSelect1">
                            <option value="1">Computers and electronic</option>
                            <option value="2">Cars</option>
                            <option value="3">Sports</option>
                            <option value="4">Games</option>
                            <option value="5">Fashion</option>
                            <option value="6">Home</option>
                            <option value="7">Other</option>
                        </select>
                    </div>
                    <label  for="min_price" class="col-sm-2 col-form-label">Min €</label>
                    <div class="col-sm-10">
                        <input id = "group_modal_min" type="text" name = "min_price" class="form-control" placeholder="">
                    </div>
                    <label  for = "max_price" class="col-sm-2 col-form-label">Max €</label>
                    <div class="col-sm-10">
                        <input id = "group_modal_max" type="text" name = "max_price"class="form-control" id="title" placeholder="">
                    </div>

                    <label for="staticEmail"  class="col-sm-2 col-form-label">  </label>
                    <div class="col-sm-10">
                        <button id = "group_modal"  type="submit" id = "btn_sub" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>
